/src/band_library/.~lock.library-stuff.csv#
/myenv/
/media/
/mediacache/
/zipfiles/
*.pyc
/src/band_library/test1.csv
/src/band_library/library-stuff.csv
/src/band_library/www
/src/band_library/db.sqlite3