django_imagekit==4.0.2
Django>=2.2.12,<3.0
django_tables2==2.3.0
psycopg2-binary>=2.8.4,<2.9
django-tinymce>=3.3.0
django-appconf>=1.0.4
Pillow<8.0
mod_wsgi
django-appconf==1.0.4
django-imagekit==4.0.2
pilkit==2.0
pytz
setuptools
six
wheel
